<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定和哪个Mapper映射器接口对应 -->
<mapper namespace="com.xyd.mapper.ShopMapper">
    <!-- 定义SQL语句添加商铺-->
    <!--userGeneratedKeys 获取主键值 插入到参数的实体对象中-->
    <insert id="insertShop" parameterType="com.xyd.entity.Shop" useGeneratedKeys="true"
            keyProperty="shopId" keyColumn="shop_id">
        insert into tb_shop (owner_id,area_id,shop_category_id,shop_name,shop_desc,shop_addr,
        phone,shop_img,priority,create_time,last_edit_time,enable_status,advice)values
        (#{owner.userId},#{area.areaId},#{shopCategory.shopCategoryId},#{shopName},#{shopDesc},#{shopAddr},
        #{phone},#{shopImg},#{priority},#{creatTime},#{lastEditTime},#{enableStatus},#{advice})
    </insert>
    <!--更新店铺信息-->
    <!--动态sql语句 如果参数对象有值就更新 没有值就不更新 area 区域id 不能更新 别忘了加,号-->
    <!--通过shopid 查询店铺信息-->
    <update id="updateShop" parameterType="com.xyd.entity.Shop">
        update tb_shop
        <set>
            <if test="shopName!=null">shop_name=#{shopName},</if>
            <if test="shopDesc!=null">shop_desc=#{shopDesc},</if>
            <if test="shopAddr!=null">shop_addr=#{shopAddr},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="shopImg!=null">shop_img=#{shopImg},</if>
            <if test="priority!=null">priority=#{priority},</if>
            <if test="lastEditTime!=null">last_edit_time=#{lastEditTime},</if>
            <if test="enableStatus!=null">enable_status=#{enableStatus},</if>
            <if test="advice!=null">advice=#{advice},</if>
            <if test="shopCategory!=null">shop_category_id=#{shopCategory.shopCategoryId},</if>
            <if test="owner!=null">owner_id=#{owner.userId}</if>
        </set>
        where shop_id=#{shopId}
    </update>
    <resultMap id="shopMap" type="com.xyd.entity.Shop">
        <id property="shopId" column="shop_id"/>
        <result column="shop_name" property="shopName"/>
        <result column="shop_desc" property="shopDesc"/>
        <result column="shop_addr" property="shopAddr"/>
        <result column="phone" property="phone"/>
        <result column="shop_img" property="shopImg"/>
        <result column="priority" property="priority"/>
        <result column="last_edit_time" property="lastEditTime"/>
        <result column="enable_status" property="enableStatus"/>
        <result column="advice" property="advice"/>
        <association property="area" javaType="com.xyd.entity.Area" column="area_id">
            <id property="areaId" column="area_id"/>
            <result column="area_name" property="areaName"/>
        </association>
        <association property="shopCategory" javaType="com.xyd.entity.ShopCategory" column="shop_category_id">
            <id property="shopCategoryId" column="shop_category_id"/>
            <result column="shop_category_name" property="shopCategoryName"/>
        </association>
        <association property="owner" javaType="com.xyd.entity.PersonInfo" column="owner_id">
            <id property="userId" column="user_id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>
    <!--根据shopId 查询shop对象信息-->
    <select id="queryByShopId" resultMap="shopMap" parameterType="Long">
        SELECT
        s.shop_id,
        s.shop_name,
        s.shop_desc,
        s.shop_addr,
        s.phone,
        s.shop_img,
        s.priority,
        s.last_edit_time,
        s.enable_status,
        s.advice,
        sc.shop_category_id,
        sc.shop_category_name,
        a.area_id,
        a.area_name
        FROM
        tb_shop s,
        tb_shop_category sc,
        tb_area a
        WHERE
        a.area_id=s.area_id
        AND
        sc.shop_category_id = s.shop_category_id
        AND
        s.shop_id=#{shopId}
    </select>
    <!--根据店铺信息 查询店铺列表-->
    <!--resultMap shopMap 一样可以在这里用到-->
    <select id="queryShopList" resultMap="shopMap">
        SELECT
        s.shop_id,
        s.shop_name,
        s.shop_desc,
        s.shop_addr,
        s.phone,
        s.shop_img,
        s.priority,
        s.last_edit_time,
        s.enable_status,
        s.advice,
        sc.shop_category_id,
        sc.shop_category_name,
        a.area_id,
        a.area_name
        FROM
        tb_shop s,
        tb_shop_category sc,
        tb_area a
        <where>
            /*店铺类别*/
            1=1
            <if test="shopCondition.shopCategory!=null and shopCondition.shopCategory.shopCategoryId!=0">
                and s.shop_category_id=#{shopCondition.shopCategory.shopCategoryId}
            </if>
            /*依据店铺父类别id查询 子类别店铺*/
            <if test="shopCondition.shopCategory!=null and shopCondition.shopCategory.parent!=null and shopCondition.shopCategory.parent.shopCategoryId!=0 ">
                and s.shop_category_id in(select shop_category_id from tb_shop_category where
                parent_id=#{shopCondition.shopCategory.parent.shopCategoryId})
            </if>
            /*店铺区域*/
            <if test="shopCondition.area!=null and shopCondition.area.areaId!=0">
                and s.area_id=#{shopCondition.area.areaId}
            </if>
            /*店铺名字模糊查询*/
            <if test="shopCondition.shopName!=null">
                and s.shop_name like '%${shopCondition.shopName}%'
            </if>
            /*店铺状态查询*/
            <if test="shopCondition.enableStatus!=null">
                and s.enable_status=#{shopCondition.enableStatus}
            </if>
            /*店铺人员信息查询*/
            <if test="shopCondition.owner!=null and shopCondition.owner.userId !=null">
                AND s.owner_id=#{shopCondition.owner.userId}
            </if>
            AND
            s.area_id=a.area_id
            AND
            s.shop_category_id=sc.shop_category_id
        </where>
        ORDER BY
        s.priority desc
        LIMIT
        #{rowIndex},#{pageSize}
    </select>
    <!--查询shop商铺的总数-->
    <select id="queryShopCount" resultType="int">
        SELECT
        count(*)
        FROM
        tb_shop s
        <where>
            1=1
            /*店铺类别*/
            <if test="shopCondition.shopCategory!=null and shopCondition.shopCategory.shopCategoryId!=0">
                AND s.shop_category_id=#{shopCondition.shopCategory.shopCategoryId}
            </if>
            /*依据店铺父类别id查询*/
            <if test="shopCondition.shopCategory!=null and shopCondition.shopCategory.parent!=null and shopCondition.shopCategory.parent.shopCategoryId!=null ">
                and s.shop_category_id in(select shop_category_id from tb_shop_category where
                parent_id=#{shopCondition.shopCategory.parent.shopCategoryId})
            </if>
            /*店铺区域*/
            <if test="shopCondition.area!=null and shopCondition.area.areaId!=0">
                AND s.area_id=#{shopCondition.area.areaId}
            </if>
            /*店铺名字模糊查询*/
            <if test="shopCondition.shopName!=null">
                AND s.shop_name like '%${shopCondition.shopName}%'
            </if>
            /*店铺状态查询*/
            <if test="shopCondition.enableStatus!=null">
                AND s.enable_status=#{shopCondition.enableStatus}
            </if>
            /*店铺人员信息查询*/
            <if test="shopCondition.owner!=null and shopCondition.owner.userId !=null">
                AND s.owner_id=#{shopCondition.owner.userId}
            </if>
        </where>
    </select>
</mapper>